In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.4.2'

In [3]:
pip install pyarrow

Requirement already satisfied: pyarrow in /home/codespace/anaconda3/lib/python3.9/site-packages (16.1.0)
Requirement already satisfied: numpy>=1.16.6 in /home/codespace/anaconda3/lib/python3.9/site-packages (from pyarrow) (1.21.5)
Note: you may need to restart the kernel to use updated packages.

In [4]:
df = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet')

In [5]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00

In [6]:
import sklearn

In [7]:
sklearn.__version__

'1.0.2'

In [8]:
number_of_columns = len(df.columns)
print(f"Number of columns: {number_of_columns}")

Number of columns: 19

In [9]:
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])

df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])

df['duration'] = (df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']).dt.total_seconds() / 60

std_dev_duration = df['duration'].std()

print(f"Standard deviation of trip duration in January: {std_dev_duration:.2f}")

Standard deviation of trip duration in January: 42.59

In [10]:
df_filtered = df[(df['duration'] >= 1) & (df['duration'] <= 60)]

fraction_remaining = df_filtered.shape[0] / df.shape[0]

print(f"Fraction of records left after removing outliers: {fraction_remaining:.2f}")

Fraction of records left after removing outliers: 0.98

In [11]:
from sklearn.feature_extraction import DictVectorizer

selected_columns = df_filtered[["PULocationID", "DOLocationID"]].astype(str)

data_list = selected_columns.to_dict(orient="records")

dv = DictVectorizer(sparse=True)

feature_matrix = dv.fit_transform(data_list)

dimensionality = feature_matrix.shape[1]

print(f"Dimensionality of the feature matrix: {dimensionality}")

Dimensionality of the feature matrix: 515

In [12]:
import numpy as np

from sklearn.linear_model import LinearRegression

from sklearn.metrics import mean_squared_error

y = df_filtered['duration'].values

model = LinearRegression()

model.fit(feature_matrix, y)

y_pred = model.predict(feature_matrix)

rmse = np.sqrt(mean_squared_error(y, y_pred))

print(f"RMSE on train: {rmse:.2f}")

RMSE on train: 7.65

In [8]:
import pandas as pd

df1 = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-02.parquet')

df1.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,1,2023-02-01 00:32:53,2023-02-01 00:34:34,2.0,0.30,1.0,N,142,163,2,4.4,3.50,0.5,0.0,0.0,1.0,9.40,2.5,0.00
1,2,2023-02-01 00:35:16,2023-02-01 00:35:30,1.0,0.00,1.0,N,71,71,4,-3.0,-1.00,-0.5,0.0,0.0,-1.0,-5.50,0.0,0.00
2,2,2023-02-01 00:35:16,2023-02-01 00:35:30,1.0,0.00,1.0,N,71,71,4,3.0,1.00,0.5,0.0,0.0,1.0,5.50,0.0,0.00
3,1,2023-02-01 00:29:33,2023-02-01 01:01:38,0.0,18.80,1.0,N,132,26,1,70.9,2.25,0.5,0.0,0.0,1.0,74.65,0.0,1.25
4,2,2023-02-01 00:12:28,2023-02-01 00:25:46,1.0,3.22,1.0,N,161,145,1,17.0,1.00,0.5,3.3,0.0,1.0,25.30,2.5,0.00

In [9]:
df1['tpep_pickup_datetime'] = pd.to_datetime(df1['tpep_pickup_datetime'])

df1['tpep_dropoff_datetime'] = pd.to_datetime(df1['tpep_dropoff_datetime'])

df1['duration'] = (df1['tpep_dropoff_datetime'] - df1['tpep_pickup_datetime']).dt.total_seconds() / 60

In [10]:
df1_filtered = df1[(df1['duration'] >= 1) & (df1['duration'] <= 60)]

In [11]:
from sklearn.feature_extraction import DictVectorizer

dv = DictVectorizer(sparse=True)

selected_columns_val = df1_filtered[["PULocationID", "DOLocationID"]].astype(str)

data_list_val = selected_columns_val.to_dict(orient="records")

feature_matrix_val = dv.transform(data_list_val)

AttributeError: 'DictVectorizer' object has no attribute 'feature_names_'

In [1]:
y_val = df1_filtered['duration'].values

y_pred_val = model.predict(feature_matrix_val)

rmse_val = np.sqrt(mean_squared_error(y_val, y_pred_val))

print(f"RMSE on validation: {rmse_val:.2f}")

NameError: name 'df1_filtered' is not defined